* {
  box-sizing: border-box;
  // font-size: 5px;
}
body {
  font-family: $font-second;
  overflow-x: hidden;
  background-color: $bg-color1;
}

.projects {
  height: 100vh;

  a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    transition: all 200ms ease;
    &:hover {
      background-color: $bg-color2;
      color: black;
    }
  }

  .swipe {
    text-align: center;
  }
  .swipe-nav {
    height: 25vh;
    background-color: $bg-color2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    background-color: $bg-color1;

    h1 {
      color: $bg-color1;
      font-family: $font-base;
      width: 50vw;
      font-weight: 800;
      font-size: 1.5rem;
      background-color: $bg-color2;
      padding: 0.5rem;
    }

    img {
      max-width: 80%;
      width: 50vw;
      border: 1px solid $bg-color2;
    }

    .project-src {
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
      width: 10vw;
      font-family: $font-base;
    }
  }
  
  button {
    width: 100px;
    height: 100px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    color: white;
    margin: 2rem;
    border: 0;
    &:hover i {
      transform: scale(1.4);
    }

    i {
      transition: transform 200ms ease-in;

      font-size: 2rem;
      color: rgb(6, 155, 155);
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .p1 {
      h1 {
        width: 80vw;
        font-size: 1rem;
      }
      img {
        width: 80vw;
      }
      .project-src {
        width: 80%;
      }
    }
  }
}
