* {
  box-sizing: border-box;
  // font-size: 5px;
}
body {
  font-family: $font-second;
  overflow-x: hidden;
  background-color: $bg-color1;
}

.projects {
  height: 100vh;

  .swipe {
    text-align: center;
  }
  .swipe-nav {
    height: 25vh;
    background-color: $bg-color2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: $bg-color1;
  }
  h1 {
    color: white;
    font-family: $font-base;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(216, 216, 216, 0.5);
    padding: 1rem;
    border-radius: 10px;
  }
  button {
    width: 100px;
    height: 100px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    color: white;
    margin: 2rem;
    border: 0;
    &:hover i {
      transform: scale(1.4);
    }

    i {
      transition: transform 200ms ease-in;

      font-size: 2rem;
      color: rgb(6, 155, 155);
    }
  }
}
