.contact {
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  font-size: 1rem;
  min-height: 100vh;
  margin-left: 3rem;

  .contact-title {
    padding-top: 3rem;
  }

  h2 {
    font-family: $font-base;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 0 1rem 0;
    width: 50vw;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      right: 0;
      bottom: -3px;
      background-color: rgb(255, 255, 255);
    }
  }

  p {
    font-family: $font-base;
    font-weight: bold;
    color: rgb(224, 224, 224);
    padding: 1rem;
  }

  i {
    font-size: 2rem;
    color: rgb(6, 255, 255);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
   // padding: 1rem;
  }

  span {
    display: flex;
   // justify-content: center;
   align-items: center;

    //border-radius: 10px;
    border: 1px solid transparent;
    width: 20vw;
    height: 10vh;
    transition: all 200ms ease;
    &:hover {
      background-color: rgba(109, 108, 108, 0.2);
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    }
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 700px) {
  body {
    .contact {
     align-items: flex-start;
     margin: 0;

     .contact-title {
      padding-top: 1rem;
    }

     h2 {
       padding-left: 10px;
       width: 90vw;
     }
      span {
        width: 100vw;
        justify-content: flex-start;
        height: 10%;
        padding: 1rem;
      }
      p {
        font-size: 1rem;
      }
      .row {
        flex-direction: row;
      }
    }
  }
}
